body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e8eaf6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #3f51b5, #ff4081, #3f51b5);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: holographic 3s infinite;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

@keyframes holographic {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

input[type="file"] {
    display: block;
    margin: 20px auto;
    border: 2px dashed #3f51b5;
    padding: 10px;
    border-radius: 10px;
    background-color: #e8eaf6;
    cursor: pointer;
}

input[type="file"]:hover {
    border-color: #303f9f;
}

input[type="submit"] {
    background-color: #3f51b5;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #303f9f;
}

.result-image-container {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

img.result-image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
}

a.btn {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #3f51b5;
    border: 2px solid #3f51b5;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a.btn:hover {
    background-color: #3f51b5;
    color: white;
}

.result-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.result-table th, .result-table td {
    padding: 10px;
    border: 1px solid #dddddd;
    text-align: left;
}

.result-table th {
    background-color: #3f51b5;
    color: white;
}

.result-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.result-table tbody tr:hover {
    background-color: #ddd;
}
